* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
:root {
  --primary-color: #10375c;
}
/* common */
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  color: #fff;
  background: #2e80ce;
  height: 60px;
  padding: 0 20px;
  line-height: 60px;
  width: 205px;
  text-align: center;
  border-radius: 999px;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* header */
header {
  min-height: 100vh;
  background: var(--primary-color);
  padding-top: 30px;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: inline-flex;
}
.name-logo {
  width: 50px;
  margin-left: 6px;
}
.name__bold-logo {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4rem;
}

.name__normal-logo {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.4em;
  display: flex;
  justify-content: end;
}

.nav__list {
  display: flex;
  gap: 42px;
}

.nav__link {
  color: #c9d2da;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  position: relative;
}

.nav__link:focus {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.nav__link--active::before {
  content: "";
  display: inline-flex;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 7px;
  left: -10px;
}

/* action */
.action {
  display: flex;
  align-items: center;
}
.action-1 {
  margin-right: 48px;
  color: #c9d2da;
  text-align: right;
  font-size: 16px;
  font-weight: 300;
}
.action-btn {
  display: flex;
  align-items: center;
  width: 104px;
  height: 44px;
  font-size: 16px;
  font-weight: 400;
}
