* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
:root {
  --primary-color: #10375c;
}
/* common */
a {
  text-decoration: none;
}

/* header */
header {
  min-height: 100vh;
  background: var(--primary-color);
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.header-top {
  display: flex;
  padding-top: 1.88rem;
}
.logo {
  display: inline-flex;
}
.name-logo {
  width: 50px;
  margin-left: 6px;
}
.name__bold-logo {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4rem;
}

.name__normal-logo {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.4em;
  display: flex;
  justify-content: end;
}
.nav {
  margin-left: 318px;
}
.header-top__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__link {
  color: #c9d2da;
  font-size: 16px;
  font-weight: 300;
}
